<form [formGroup]="registerForm">  

  Veiculo..................:
  <input type="text" size="45" formControlName="vehicle"/>

<div *ngIf="registerForm.controls.vehicle.errors?.required" class="error">
  Nome do Veículo é obrigatório!
</div>

<br/><br/>

  Placa......................:
  <input type="text" size ="7" minlength="7" maxlength="7" formControlName="plate"/>

<div *ngIf="registerForm.controls.plate.errors?.required" class="error">
  Placa do Veículo é obrigatório!
</div>

<br/><br/>

  Motorista...............:
  <input type="text" size="45" formControlName="driver"/>

<div *ngIf="registerForm.controls.driver.errors?.required" class="error">
  Nome do motorista é obrigatório!
</div>

<br/><br/>

  Telefone Contato...:
  <input type="text" size="20" formControlName="contact"/>

<div *ngIf="registerForm.controls.contact.errors?.required" class="error">
  Telefone de contato é obrigatório!
</div>

<br/><br/>

  <input type="button" value="Salvar" [disabled]="registerForm.invalid" (click)="save()"/>

<br/>

</form>

<br/>

<input type="button" value="Ir para a tela de listagem" (click)="goToList()" />