<table border="1" style="width: 90px;">
  <thead>
    <th>Veículo</th>
    <th>Placa</th>
    <th>Motorista</th>
    <th>Telefone Contato</th>
    <th>Entrada</th>
    <th>Saida</th>
    <th>Encerrar</th>
  </thead>
  <tbody>
    <tr *ngFor="let r of allRegistry">
      <td>{{ r.vehicle }}</td>
      <td>{{ r.plate }}</td>
      <td>{{ r.driver }}</td>
      <td>{{ r.contact }}</td>
      <td>{{ r.entryDate }}</td>
      <td>{{ r.exitDate }}</td>
      <td>{{ r.hourlyCharge }}</td>
      <td><input type="button" value="Encerrar" (click)="setExit(r)"/></td>
    </tr>
  </tbody>
</table>

<br/><br/>
<input type="button" value="Ir para a tela de registro" (click)="goToRegister()" />