<div>
  <h1>Parking Lot</h1>

  <a routerLink="registerParking">Registro</a>
  &nbsp;&nbsp;&nbsp;
  <a routerLink="listParking">Listagem</a>

</div>

<div style="margin-top: 20px;">
  <router-outlet></router-outlet>
</div>
